/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*custom style*/

body{
    background-color: rgb(224, 181, 116);
}

header, footer{
    margin: 0 auto;
    background-color: rgb(9, 9, 46);
    width: 95%;
    color: antiquewhite;
    border-radius: 50px;
    padding: 0.5%;
}
h1{
    font-size: 70px;
    display: inline-block;
    text-align: left;
    padding-left: 2%;
    vertical-align: middle;
}
nav{
    font-size: 30px;
    display: inline-block;
    text-align: right;
    padding-left: 50%;
}
a{
    color: rgb(176, 247, 136);
    padding: 0 15px;
    vertical-align: middle;
    text-decoration: none;
}

p{
    line-height: 1.5;
    text-align: justify;
    font-size: 20px;
}
main{
    font-size: 0;
}
footer{
    font-size: 25px;
    text-align: center;
   margin: 0.5%;
}
header{
    margin-top: 1%;
}
article{
    float: left;
    width: 30%;
    padding: 30px;
    height: 1000px;
}
img{
    height: 30%;
    width: 100%;
    object-fit: cover;
}
.clearfix::after,.clearfix::before{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}